{% load staticfiles %}
<html>
    <head>
        <title>Django Freelancers</title>
        <link rel="stylesheet" href="{% static 'estilos/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/bootstrap.min.css' %}">
        
        
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'new_contato' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Majuca Freelancers</a></h1>
        </div>
        <div>
            
           {% block content %}

           {% endblock %}
        </div>
    </body>
</html>